@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* @font-face{ 
	font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
	src: local('Barlow'),
        url("/font//BarlowCondensed-Regular-webfont.woff");
} */


body{
    background-color: #EFF6FF  ;
    font-family: "Barlow",sans-serif;
    color:#2A4A5C;
    font-size: large;
}
main{
    background-color: white;
    display: flex;
    margin: 5%;
}

.img{
    min-width: 40%;
    background-image: url('img/bg.jpg');
    background-size:cover;
    padding-left: 3rem;
    padding-top: 0;
    min-height: 100%;
}

section{
    width: 50%;
    padding: 5rem 5rem 3rem 5rem;
}
h1,h2,h3,h4,h5{
    font-weight: 500;
}
p{  
    color: #7B8A92;
    /* margin-left:4rem; */
    font-weight: 500;
    
}

.btn{
    padding-top: 3rem;
    overflow: hidden;
    text-align: justify;

}
button{
    display: block;
    font-weight: 200;
    width: 45%;
    color:#FFFFFF;
    height: 3rem;
    
}

#acc{
    background-color: #3698FB;
    border: #EEEEEE;
}

#acc:hover{
    background-color: #2A4A5C;
}

#fb {
    float: left;
    background-color: #255A9B;
}

#in {
    float: right;
    background-color: #0076B6;
}


#fb .icon{
    background: url('img/facebook.svg') no-repeat left center ;
    padding-left: 10%;
}

#in .icon{
    background: url('img/facebook.svg') no-repeat left center;
    padding-left: 10%;
    
}

#fb:hover {
    background-color: #2A4A5C;
}

#in:hover {
    background-color: #2A4A5C;
}


.form-panel{
    margin-top: 5rem;
    text-align: justify;
    height: 5rem;
}

.email{
    height: 50px;
    padding-left: 5px;
    width: 45%;
    display: block;
    border: #EEEEEE 1px solid;
    float: left;
    
}

.email:hover{
    border-left: #3698FB 2px solid;
}

.phone{
    height: 50px;
    padding-left: 5px;
    width: 45%;
    display: block;
    float:right;
    border: #EEEEEE 1px solid;  
}

.phone:hover{
    border-left: #3698FB 2px solid;
}

input[type="text"] ,input[type="text"]:focus , input[type="text"]:hover{
    width: 90%;
    display: block;
    border: 0px;
    outline: none;
    outline-offset: none;
}

input[type="radio"]{
    margin-right:0.75rem;
}



.radio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.line-box{
    /* overflow: hidden; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.line{
    margin-top: 3rem;
    border-top: 1px black solid;
    height: 0px;
    
}

a{
    color:#3698FB
}


.terms{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 50%;
    padding:1px 50px 1px 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}